<div class="text-center">
    <h1>旅行スケジュール作成</h1>
</div>
<div class="row">
  <div class="col-sm-8 offset-sm-3">

    <%= form_with(model: @schedule, local: true) do |f| %>
      <div class="form-row">
          <div class="form-group col-sm-3">
            <%= f.label :date, '日付' %>
            <%= f.date_field :date, class: 'form-control' %>
          </div>
    
          <div class="form-group col-sm-3">
            <%= f.label :time, '時刻' %>
            <%= f.time_field :time, class: 'form-control' %>
          </div>
    
          <div class="form-group col">
            <%= f.label :destination, '目的地' %>
            <%= f.text_field :destination, class: 'form-control' %>
          </div>
      </div>
      <div class="form-group">
        <%= f.label :content, '内容' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>