<div class="row">
  <% plans.each do |plan| %>
    <% user = User.find(plan.user_id)%>
    <% if plan.open == 1 && call_from =="index" %>
      <% open="※公開中" %>
    <% end %>
    <div class = "card col-sm-4 mb-1" >
      <div class="card-header">
        <h5 class="card-title"><%= plan.title %></h5>
      </div>
      <div class="card-body">
        <%= open %>
        <% unless call_from == "index"%>
          <div> 
              ユーザ：<%=  user.name %> 
          </div>
        <% end %>
        <% if call_from == "ranking"%>
          <div> 
                お気に入り数：<%=  plan.favorites.count %> 
          </div>
        <% end %>
        <div>
          <p class="mb-0" style="font-weight: bold;">概要：</p>
          <p class="mb-1"><%= plan.content %></p>
          <p class="mb-0" style="font-weight: bold;">最終目的地：</p>
          <p class="mb-1"><%= plan.destination %></p>
          <%= link_to "Read More", plan, class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate plans %>
</div>