<div class="plan">
    <div class="form-row">
        <div class="form-group col-sm-6">
            <%= f.label :title, 'プラン名' %>
            <%= f.text_field :title, class: 'form-control' %>
        </div>
    
        <div class="form-group col-sm-6">
            <%= f.label :destination, '最終目的地' %>
            <%= f.text_field :destination, class: 'form-control' %>
        </div>
    </div>        
    <div class="form-group">
        <%= f.label :content, '概要' %>
        <%= f.text_field :content, class: 'form-control' %>
    </div>
    
</div>