<div  class="mb-0">
    <%= render "favorites/favorites_button", favorite: @plan, call_favorite_from: "show" %>
</div>

<div class="mb-0">
    <%= render "plans/plan_detail", plan: @plan, schedules: @schedules %>
</div>
<div class="mb-0">
    <%= link_to '流用作成', plans_reuse_path(@plan) , class: 'btn btn-primary btn-sm'%>
    <% if current_user == @user%>
        <%= link_to '編集', edit_plan_path(@plan) , class: 'btn btn-primary btn-sm'%>
        <%= link_to '削除', @plan, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-sm' %>
    <%end%>
</div>
<div class="mb-1">
     <%= render "plans/plan_comment", plan: @plan%>
</div>
<div class="mb-1">
     <%= render "plans/plan_comment_all", comments: @comments %>
</div>